//
// Citas
//
// Da estilo a una cita
//

//
// Modifica la alineación de una cita
//
.blockquote--left {
  text-align: left;
}

.blockquote--center {
  text-align: center;
}

.blockquote--right {
  text-align: right;
}

//
// Añade un borde lateral a una cita, y lo posiciona según la alineación de la cita
//
.blockquote--bordered {
  border-left: 0.15rem solid $blockquote-border-color;
  padding-left: simple();
}

.blockquote--bordered.blockquote--right {
  border-left: 0;
  border-right: 0.15rem solid $blockquote-border-color;
  padding-left: 0;
  padding-right: simple();
}

//
// Adaptación para pantallas pequeñas
//
@include media(portrait) {
  .blockquote--bordered {
    padding-left: half();
  }

  .blockquote--right {
    &.blockquote--bordered {
      padding-right: half();
    }
  }
}
