//
// Citas
//
// Da estilo a una cita
//

//
// Modifica la alineación de una cita
//
.blockquote--left {
  text-align: left;
}

.blockquote--center {
  text-align: center;

  p,
  > footer,
  > .footer {
    padding: 0 15%;
  }
}

.blockquote--right {
  text-align: right;

  p,
  > footer,
  > .footer {
    padding-left: 30%;
    padding-right: 0;
  }
}

//
// Añade un borde lateral a una cita, y lo posiciona según la alineación de la cita
//
.blockquote--bordered {
  border-left: 0.25rem solid $blockquote-border-color;
  padding-left: simple();
}

.blockquote--bordered.blockquote--right {
  border-left: 0;
  border-right: 0.25rem solid $blockquote-border-color;
  padding-left: 0;
  padding-right: simple();

  p,
  > footer,
  > .footer {
    padding-left: 30%;
    padding-right: 0;
  }
}

//
// Adaptación para pantallas pequeñas
//
@include media(portrait) {
  .blockquote--bordered {
    padding-left: half();
  }

  .blockquote--bordered.blockquote--right {
    padding-right: half();
  }
}
