//
// Bordes
//
// Aplica/Elimina un borde predefinido a un elemento
//
// Ejemplos:
//   .border                            // Todos los lados a la vez
//   .border-{top,right,bottom,left}    // A un solo lado
//   .no-border                         // Elimina todos los bordes de un elemento
//   .no-border-{top,right,bottom,left} // Elimina el borde de un solo lado
//

.border {
  border-color: $border-color;
  border-style: $border-style;
  border-width: $border-width;
}

.no-border {
  border: 0 !important;
}

@each $position in ('top', 'right', 'bottom', 'left') {
  .border-#{$position} {
    border-#{$position}-width: $border-width;
    border-#{$position}-style: $border-style;
    border-#{$position}-color: $border-color;
  }

  .no-border-#{$position} {
    border-#{$position}: none !important;
  }
}

//
// Color del borde
//
// Modifica el color del borde por defecto
//
// Ejemplos:
//   .border.border--brand  // Colorea el borde con el color de la marca

$border-colors: (
  'brand': $brand,
  'warning': $warning,
  'success': $success,
  'danger': $danger,
);

@each $name, $color in $border-colors {
  .border--#{$name} {
    border-color: $color !important;
  }
}

//
// Esquinas redondeadas
//
// Aplica/Elimina una esquina redondeada a un elemento
//
// Ejemplos:
//   .rounded                         // Todas las esquinas a la vez
//   .rounded-{top,right,bottom,left} // A las esquinas de un lado
//   .rounded-circle                  // Redondea todas las esquinas hasta convertir al elemento en un círculo
//   .no-rounded                      // Elimina todas las esquinas redondeadas
//

.rounded {
  border-radius: $border-radius !important;
}

.rounded-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.rounded-right {
  border-bottom-right-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.rounded-bottom {
  border-bottom-left-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.rounded-left {
  border-bottom-left-radius: $border-radius !important;
  border-top-left-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.no-rounded {
  border-radius: 0 !important;
}
