//
// Bordes
//
// Aplica/Elimina un borde predefinido a un elemento
//
// Ejemplos:
//   .border                                // Todos los lados a la vez
//   .border-{top,right,bottom,left,x,y}    // A un solo lado
//   .no-border                             // Elimina todos los bordes de un elemento
//   .no-border-{top,right,bottom,left,x,y} // Elimina el borde de un solo lado
//

.border {
  border: $border-width $border-style color(border);
}

.no-border {
  border: 0 !important;
}

@each $position in ('top', 'right', 'bottom', 'left') {
  .border-#{$position} {
    border-#{$position}: $border-width $border-style color(border);
  }

  .no-border-#{$position} {
    border-#{$position}: 0 !important;
  }
}

.border-x {
  border-left: $border-width $border-style color(border);
  border-right: $border-width $border-style color(border);
}

.border-y {
  border-bottom: $border-width $border-style color(border);
  border-top: $border-width $border-style color(border);
}

.no-border-x {
  border-left: 0 !important;
  border-right: 0 !important;
}

.no-border-y {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

//
// Color del borde
//
// Modifica el color del borde por defecto
//
// Ejemplos:
//   .border.border--brand  // Colorea el borde con el color de la marca

@each $name, $color in $theme {
  .border--#{$name} {
    border-color: $color !important;
  }
}

:root,
[data-theme='light'] {
  @each $name, $color in $light-theme {
    .border--#{$name} {
      border-color: $color !important;
    }
  }
}

[data-theme='dark'] {
  @each $name, $color in $dark-theme {
    .border--#{$name} {
      border-color: $color !important;
    }
  }
}

//
// Esquinas redondeadas
//
// Aplica/Elimina una esquina redondeada a un elemento
//
// Ejemplos:
//   .rounded                         // Todas las esquinas a la vez
//   .rounded-{top,right,bottom,left} // A las esquinas de un lado
//   .rounded-circle                  // Redondea todas las esquinas hasta convertir al elemento en un círculo
//   .no-rounded                      // Elimina todas las esquinas redondeadas
//

.rounded {
  border-radius: $border-radius !important;
}

.rounded-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.rounded-right {
  border-bottom-right-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.rounded-bottom {
  border-bottom-left-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.rounded-left {
  border-bottom-left-radius: $border-radius !important;
  border-top-left-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.no-rounded {
  border-radius: 0 !important;
}
