//
// Contenedor fijo
//
// El contenedor se adapta hasta una anchura máxima, superada esta,
// su anchura permanece fija y se mantiene centrado horizontalmente.
//

$container-width: (
  'palm': $container-width-palm,
  'lap': $container-width-lap,
  'small': $container-width-small,
  'desk': $container-width-desk,
  'large': $container-width-large,
) !default;

.container {
  @if ($responsive) {
    @each $breakpoint-name, $container-max-width in $container-width {
      @include media($breakpoint-name) {
        max-width: px2em($container-max-width);
      }
    }
  }
}

.container,
.container--fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include media(portrait) {
    padding-left: half();
    padding-right: half();
  }

  @include media(screen) {
    padding-left: simple();
    padding-right: simple();
  }
}

//
// Contenedor fluido
//
// El contenedor se adapta al 100% del ancho de la pantalla
//

.container--fluid {
  max-width: 100%;
}
