.list--unstyled {
  > li {
    padding-left: 0;

    &::before {
      content: initial;
    }
  }
}

.list--inline {
  > li {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;

    &::before {
      content: initial;
    }

    &:not(:last-child) {
      margin-right: simple();

      @include media(palm) {
        margin-right: half();
      }
    }
  }
}
