// Striped Table
//
.table--striped {
  > tr:nth-of-type(even),
  tbody > tr:nth-of-type(even) {
    /* stylelint-disable-next-line */
    th,
    td {
      background-color: $table-striped-background;
    }
  }
}

// hover Table
//
.table--hover {
  tbody tr {
    /* stylelint-disable-next-line */
    th,
    td {
      transition: background-color $transition-duration ease;
    }
  }

  tbody tr {
    @include hover {
      /* stylelint-disable-next-line */
      th,
      td {
        background-color: $table-hover-background;
        cursor: pointer;
      }
    }
  }
}

// responsive Table
//
@if ($responsive) {
  @each $breakpoint in $breakpoints-list {
    @include media($breakpoint) {
      $breakpoint: get-breakpoint-sufix($breakpoint);

      .table#{$breakpoint}--responsive {
        thead {
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        tr {
          border-bottom: 3px solid $table-border-color;
          display: block;
          margin-bottom: half();
        }

        td {
          border-bottom: 1px solid $table-border-color;
          display: block;
          text-align: right;

          &:first-of-type {
            background-color: $table-header-background;
            border: 1px solid $table-border-color;
            border-radius: $border-radius;
          }

          &:last-of-type {
            border-bottom: 0;
          }
        }

        td::before {
          color: $table-header-color;
          content: attr(data-label);
          float: left;
          font-size: font-size(small2);
          font-weight: font-weight(bold);
          text-transform: uppercase;
        }
      }
    }
  }
}

//
// Tabla scrollable
.table-wrapper {
  display: block;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  width: 100%;

  table {
    width: auto;
  }
}
