/**
 * LINK
 */

a img {
  border: 0;
}

a,
.link {
  color: $link-color;
  cursor: pointer;
  text-decoration: $link-decoration;
  transition: color $transition-duration, background-color $transition-duration;

  @include hover {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }

  &:active,
  &:focus {
    color: $link-color-hover;
    text-decoration: $link-decoration;
  }

  a[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
