/**
 * LISTS
 *
 */

ol,
ul,
dl {
  margin-bottom: simple();
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
  margin-top: quarter();
}

dt {
  font-weight: font-weight(bold);
}

dd {
  margin-bottom: spacers('1/2');
  margin-left: 0; // Undo browser default
}

/**
 * Elimina el espacio vertical extra, cuando anidamos varias listas.
 */
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul > li,
ol > li {
  margin-left: simple();
}

// Definition lists.
dl {
  dt,
  dd {
    margin-left: 0;

    @include media(palm) {
      margin-left: half();
    }
  }

  dt {
    font-weight: font-weight(normal);
  }

  dd + dt {
    padding-top: 1rem;
  }
}

/**
 * Aplico estilo a los listados numerados
 */
ol {
  counter-reset: b;
  list-style: none;

  li {
    margin-bottom: quarter();
    margin-left: 0;
    padding-left: simple();
    position: relative;

    &::before {
      color: $list-markers-color;
      content: counters(b, '.') ' ';
      counter-increment: b;
      left: quarter('-');
      position: absolute;
      text-align: right;
      width: simple();
    }

    img {
      display: block;
      margin: simple() auto;
      max-width: calc(100% - #{simple()});
    }
  }
}

/**
 * Aplico estilo a los listados no numerados
 */
ul {
  list-style: none;

  li {
    margin-bottom: quarter();
    margin-left: 0;
    padding-left: simple();
    position: relative;

    &::before {
      background-color: $list-markers-color;
      border-radius: 3px;
      content: '';
      display: block;
      height: 6px;
      left: 14px;
      position: absolute;
      text-align: right;
      top: 11px;
      width: 6px;
    }
  }
}
