/**
 * TABLE
 */

table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: simple();
  min-width: 100%;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid transparent;
  padding: quarter();
  vertical-align: top;
}

th {
  background-color: $table-header-background;
  border-bottom-color: $table-border-color;
  border-top: 1px solid $table-border-color;
  color: $table-header-color;
  font-size: font-size(small2);
  font-weight: font-weight(bold);
  text-transform: uppercase;
  vertical-align: bottom;

  &:first-of-type {
    border-left: 1px solid $table-border-color;
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-of-type {
    border-radius: 0 $border-radius $border-radius 0;
    border-right: 1px solid $table-border-color;
  }
}

td {
  border-bottom: 1px solid $table-border-color;
  color: $table-header-color;
  font-size: font-size(small1);
  line-height: 1.4rem;

  &:first-of-type {
    font-weight: font-weight(bold);
    white-space: nowrap;
  }
}

tbody + tbody {
  border-bottom: 1px solid transparent;
}

th,
td,
tbody + tbody {
  border-bottom-color: $table-border-color;
}
