/**
 * TYPE
 */
$type-transparent-color: rgba(0, 0, 0, 0);

//
// Cabeceras
h1,
h2,
h3,
h4,
h5,
h6 {
  color: color(heading);
  font-family: font-family(heading);
  font-style: normal;
  font-weight: var(--font-weight-heading);
}

h1 {
  font-size: font-size(h1);
  line-height: line-height(h1);
}

h2 {
  font-size: font-size(h2);
  line-height: line-height(h2);
}

h3 {
  font-size: font-size(h3);
  line-height: line-height(h3);
}

h4 {
  font-size: font-size(h4);
  line-height: line-height(h4);
}

h5 {
  font-size: font-size(h5);
  line-height: line-height(h5);
}

h6 {
  font-size: font-size(base);
  line-height: line-height(base);
}

// Parrafos
p {
  font-size: font-size(base);
}

// Bold.
b,
strong {
  color: color(gray2);
  font-weight: font-weight(bold);
}

// Italic.
em,
i {
  font-style: italic;
}

// Texto en linea pequeño.
small,
.small {
  font-family: font-family(heading);
  font-size: font-size(small1);
  font-style: normal;
  font-weight: font-weight(normal);
  line-height: line-height(small1);
}

// Texto resaltado
mark,
.mark {
  background-color: color(gray7);
  border-radius: $border-radius;
  color: color(gray1);
  padding: quarter();
}

// Caption
.caption {
  color: color(caption);
  font-family: font-family(base);
  font-size: font-size(h5);
  font-style: italic;
}

h1 + .caption,
.font-size-h1 + .caption {
  font-size: font-size(h4);
  font-style: normal;
  line-height: line-height(h5);
  margin-bottom: simple();
  margin-top: half();
}

h2 + .caption,
.font-size-h2 + .caption {
  font-size: font-size(h5);
  font-style: normal;
  line-height: line-height(base);
  margin-bottom: simple();
  margin-top: half();
}

h3 + .caption,
.font-size-h3 + .caption {
  font-size: font-size(base);
  font-style: normal;
  line-height: line-height(base);
  margin-bottom: half();
}

// Abbreviations
abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
  cursor: help;
}

// Quotes.
blockquote,
.blockquote {
  color: $blockquote-color;
  font-size: font-size(h5);
  line-height: line-height(h5);
  margin: double() 0;

  p {
    font-size: font-size(h5);
    line-height: line-height(h5);
    padding-right: 30%;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  > footer,
  > .footer {
    color: $blockquote-footer-color;
    display: block;
    font-size: font-size(small1);
    font-style: italic;
    padding-right: 30%;

    &::before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Horizontal rule.
hr {
  background-image: linear-gradient(to bottom, $type-transparent-color 50%, color(border) 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  border: 0;
  margin: 0;
  padding-bottom: double();
  padding-top: double();
}

// Ritmo vertical
p,
h1,
h2,
h3,
ul,
ol,
dl,
table,
blockquote,
pre {
  margin-bottom: simple();
}
