//
// Prefijo de la librería
//
$prefix: 'dd-';

//
// Paleta de colores
//

//
// Colores de Marca
//
$brand-darker: hsl(338, 100%, 25%) !default;
$brand-dark: hsl(344, 79%, 41%) !default;
$brand: hsl(346, 73%, 50%) !default;
$brand-light: hsl(352, 96%, 65%) !default;
$brand-lighter: hsl(3, 100%, 74%) !default;

//
// Colores Neutros Light
//
$color-gray1-light: hsl(196, 25%, 12%) !default;
$color-gray2-light: hsl(198, 17%, 28%) !default;
$color-gray3-light: hsl(200, 10%, 46%) !default;
$color-gray4-light: hsl(198, 7%, 64%) !default;
$color-gray5-light: hsl(202, 13%, 83%) !default;
$color-gray6-light: hsl(206, 17%, 92%) !default;
$color-gray7-light: hsl(220, 18%, 97%) !default;
$color-gray8-light: hsl(220, 20%, 99%) !default;

//
// Colores Neutros Dark
//
$color-gray1-dark: hsl(220, 12%, 99%) !default;
$color-gray2-dark: hsl(220, 10%, 83%) !default;
$color-gray3-dark: hsl(206, 8%, 65%) !default;
$color-gray4-dark: hsl(202, 6%, 46%) !default;
$color-gray5-dark: hsl(198, 8%, 28%) !default;
$color-gray6-dark: hsl(200, 12%, 19%) !default;
$color-gray7-dark: hsl(198, 17%, 14%) !default;
$color-gray8-dark: hsl(196, 25%, 12%) !default;

//
// Blanco y Negro
//
$color-black: hsl(0, 0%, 0%) !default;
$color-white: hsl(0, 0%, 100%) !default;

//
// Colores de Estado (Feedback)
//
$warning-darker: hsl(39, 100%, 35%) !default;
$warning-dark: hsl(41, 100%, 45%) !default;
$warning: hsl(41, 100%, 60%) !default;
$warning-light: hsl(41, 100%, 75%) !default;
$warning-lighter: hsl(41, 100%, 90%) !default;

$success-darker: hsl(94, 80%, 30%) !default;
$success-dark: hsl(94, 67%, 41%) !default;
$success: hsl(94, 52%, 50%) !default;
$success-light: hsl(94, 66%, 70%) !default;
$success-lighter: hsl(94, 70%, 90%) !default;

$danger-darker: hsl(6, 100%, 30%) !default;
$danger-dark: hsl(6, 100%, 45%) !default;
$danger: hsl(6, 100%, 60%) !default;
$danger-light: hsl(6, 100%, 75%) !default;
$danger-lighter: hsl(6, 100%, 90%) !default;

//
// Colores Semánticos
//
$color-content: color(gray2) !default;
$color-heading: color(gray1) !default;
$color-caption: color(gray3) !default;
$color-background: color('white') !default;
$color-mark: color(content) !default;
$color-mark-background: color(brand-a20) !default;
$color-loading: color(brand) !default;

//
// Gradientes
//
$brand-gradient: 'brand-light', 'brand-dark' !default;
$warning-gradient: 'warning-light', 'warning-dark' !default;
$success-gradient: 'success-light', 'success-dark' !default;
$danger-gradient: 'danger-light', 'danger-dark' !default;

$light-gradient: 'gray7', 'gray5' !default;
$dark-gradient: 'gray4', 'gray2' !default;

//
// Tipografía
//

//
// Familias tipográficas
//
$font-family-base: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif !default;
$font-family-heading: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif !default;
$font-family-monospace: 'Fira Code', 'Courier New', Courier, monospace !default;

//
// Tamaños de fuente por tamaño de pantalla en px
//
$root-font-size-palm: 16px !default;
$root-font-size-lap: 16px !default;
$root-font-size-small: 16px !default;
$root-font-size-desk: 17px !default;
$root-font-size-large: 17px !default;

//
// Pesos tipográficos
//
$font-weight-extralight: 200 !default;
$font-weight-ligh: 300 !default;
$font-weight-normal: normal !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: bold !default;
$font-weight-black: 900 !default;

//
// Peso tipográfico de las cabeceras
//
$font-weight-heading: $font-weight-bold !default;

//
// Altura de linea
//
$line-height: 1.6 !default;

//
// Escala modular
//

// Valores sugeridos de escala (http://type-scale.com/)
//
//   second: 1.067
//   major-second: 1.125
//   minor-third: 1.2
//   major-third: 1.25
//   perfect-fourth: 1.333
//   augmented-fourth: 1.414
//   perfect-fifth: 1.5
//   golden: 1.618
//
$modular-scale: 1.175 !default;

//
// Tracking
//
$letter-spacing: 0 !default;

//
// Color del texto silenciado
//
$text-muted: color(gray4) !default;

//
// Estilos de texto
//
$styles-sizes: (
  'h1': 5,
  'h2': 4,
  'h3': 3,
  'h4': 2,
  'h5': 1,
  'base': 0,
  'small1': -1,
  'small2': -2,
) !default;

$styles-weights: (
  'normal': $font-weight-normal,
  'bold': $font-weight-bold,
) !default;

$styles-colors: (
  'black': color(gray1),
  'gray': color(gray4),
  'white': color(white),
) !default;

//
// Links
//
$link-color: color(brand) !default;
$link-color-hover: color(brand-dark) !default;
$link-decoration: none !default;
$link-decoration-hover: underline !default;

//
// List
//
$list-markers-color: color(brand) !default;

//
// Tablas
//
$table-border-color: color(border) !default;
$table-header-color: color(gray2) !default;
$table-header-background: color(gray7) !default;
$table-striped-background: color(gray7) !default;
$table-hover-background: color(gray6) !default;

//
// Ajustes del layout
//
$grid-columns: 12 !default;
$container-width-palm: 670px !default;
$container-width-lap: 670px !default;
$container-width-small: 670px !default;
$container-width-desk: 670px !default;
$container-width-large: 670px !default;

//
// Espacio Base
//
$space: $line-height * 1rem !default;

//
// Bordes
//
$border-width: 1px !default;
$border-style: solid !default;
$border-color: color(gray6) !default;
$border-radius: 10px !default;
$border: $border-width $border-style color(border) !default;

//
// Blockquote
//
$blockquote-color: color(gray4) !default;
$blockquote-border-color: color(brand) !default;

//
// Código
//
$code-color: color(gray7) !default;
$code-background: color(gray2) !default;
$inline-code-color: color(brand-dark) !default;
$inline-code-background: color(gray7) !default;
$kbd-color: color(gray8) !default;
$kbd-background: color(gray2) !default;

//
// Citas
//
$blockquote-text-color: color(gray2) !default;
$blockquote-footer-color: color(gray3) !default;
$blockquote-border-color: color(brand) !default;

//
// z-index de capas
//
$z-index-negative: -1 !default;
$z-index-page: 1 !default;
$z-index-aside: 5 !default;
$z-index-header: 5 !default;
$z-index-dropdown: 10 !default;
$z-index-sticky: 10 !default;
$z-index-fixed: 10 !default;
$z-index-modal: 15 !default;
$z-index-popover: 20 !default;
$z-index-tooltip: 25 !default;

//
// Transiciones
//
$transition-duration: 300ms !default;

//
// Responsive
//

//
// Indica si deben crearse clases responsive
//
$responsive: true !default;

//
// Breakpoints
// Valor en em del tamaño máximo de pantalla
//
// Existen 5 tamaños de pantalla definidos:
//   palm  - Móviles                                  (0 - 600px)
//   lap   - Tablet verticales y Móviles horizontales (601px - 900px)
//   small - Tablet horizontales                      (901px - 1200px)
//   desk  - Portátiles y monitores pequeños          (1201px - 1600px)
//   large - Monitores grandes                        (1601px - ...)
//
$palm: 600px !default; // ~37.5em
$lap: 900px !default; // ~56.25em
$small: 1200px !default; // ~75em
$desk: 1600px !default; // ~100em
